<?xml version="1.0" encoding="UTF-8"?>

<server>

    <database>
        <param key = "dbDriver" value = "com.mysql.jdbc.Driver"/>
        <param key = "dbLocation" value = "jdbc:mysql://localhost:3306/Express"/>
        <param key = "dbUnicode" value = "useUnicode=true"/>
        <param key = "dbEncoding" value = "characterEncoding=UTF-8"/>
        <param key = "dbUser" value = "root"/>
        <param key = "dbPassword" value = "861910"/>
    </database>

    <connection>
        <param key = "serverIP" value = "localhost"/>
        <param key = "port" value = "1099"/>
    </connection>

</server>